.Track {
  display: grid;
  grid-template-columns: 1fr auto;
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);
}

.Track-action {
  cursor: pointer;
  padding-right: 1.875rem;
  font-size: 1.05rem;
  transition: color 0.25s;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;

  &:hover {
    color: rgba(265, 265, 265, 0.5);
  }

  &:focus {
    outline: none;
  }
}

.Track-information {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 1.25rem;
  align-items: center;

  h3 {
    font-size: 1.15rem;
    margin-bottom: 0.22rem;
  }

  p {
    font-size: 0.93rem;
    font-weight: 300;
    color: rgba(256, 256, 256, 0.8);
  }
}
